altair
attrs
beautifulsoup4
behave
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
cssselect
et-xmlfile
exceptiongroup
execnet
fasteners
filelock
gitdb
GitPython
h11
idna
importlib-metadata
iniconfig
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
numpy
openpyxl
outcome
packaging
pandas
parameterized
parse
parse-type
pdbp
pillow
platformdirs
pluggy
protobuf
py
pyarrow
pycparser
pydeck
Pygments
pynose
pyotp
pyreadline3
PySocks
pytest
pytest-html
pytest-metadata
pytest-ordering
pytest-rerunfailures
pytest-xdist
python-dateutil
python-dotenv
pytz
PyYAML
referencing
requests
rich
rpds-py
sbvirtualdisplay
selenium
seleniumbase
six
smmap
sniffio
sortedcontainers
soupsieve
streamlit
streamlit-antd-components
tabcompleter
tenacity
toml
tomli
toolz
tornado
tqdm
trio
trio-websocket
typing_extensions
tzdata
tzlocal
undetected-chromedriver
webdriver-manager
websockets
wget
wsproto
zipp
